<form action = '/battle' method = 'post' >
Player 1: <br>
<input type = 'text' name = 'Player 1'> <br>
Player 2: <br>
<input type = 'text' name = 'Player 2'> <br>
<input type = 'submit' value = 'FIGHT!'>
</form>